name: deploy-to-beanstalk

on:
  push:
    branches:
      - master # action 트리거 브랜치. 마스터 브랜치에 변경사항이 생기면 이 스크립트가 자동으로 실행된다.
#  workflow_dispatch: # 수동 실행 옵션이다. 깃헙 액션 페이지에서 수동으로 배포를 진행 할 수 있는 옵션이며 여기선 설명 생략한다.

jobs:
  build:
    runs-on: ubuntu-latest # 배포 작업을 실행시킬 OS 를 지정한다.

    steps: # 작업 단계
      - name: Checkout source code # 단계별 이름, 구분자로 소스를 가져옴
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto' # AWS의 corretto JDK를 사용한다

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew clean bootjar
        shell: bash

      - name: Get current time
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYYMMDDTHHmm
          utcOffset: "+09:00"

      - name: Generate deployment package
        run: |
          mkdir -p deploy
          cp build/libs/bukbu-deploy.jar deploy/application-prod-ebextensions-1.jar
          cp Procfile deploy/Procfile
          cp -r .ebextensions deploy/.ebextensions
          cd deploy && zip -r application-prod-label-${{steps.current-time.outputs.formattedTime}}-${{github.sha}} .

      - name: Deploy Consumer to EB
        uses: einaregilsson/beanstalk-deploy@v14
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: application-prod
          environment_name: applicationprod-env
          version_label: application-prod-label-${{steps.current-time.outputs.formattedTime}}-${{github.sha}}
          region: ap-northeast-2
          deployment_package: deploy/application-prod-label-${{steps.current-time.outputs.formattedTime}}-${{github.sha}}.zip